:host {
    height: auto;
}

.full-header {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.nova-carga {
    display: none;
}

.table-header {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr;
    margin: 0.5rem 0;
    font-weight: 600;
}

@media screen and (max-width: 767px) {

    .table-header {
        display: grid;
        grid-template-columns: 4fr 2fr 2fr;
        margin: 0.5rem 0;
        font-weight: 600;
    }

    .nova-carga {
        display: block;
        justify-self: flex-end;
    }

}